<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Reminder</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="send()">
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">
                <i [ngClass]="isTypeExpense ? 'fa-credit-card' : 'fa-oil-can'" class="fa"></i>
            </label>
            <div class="col-sm-11">
              <ng-template #tooltipType>Select the type of reminder that this should be about</ng-template>
              <select class="form-control" formControlName="type" [ngbTooltip]="tooltipType" required>
                <option *ngFor="let reminderType of reminderTypes" [value]="reminderType">{{reminderType}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="type?.value">
            <label class="col-sm-1 col-form-label">
              <i [ngClass]="isTypeExpense ? 'fa-money-bill' : 'fa-wrench'" class="fa"></i>
            </label>
            <div class="col-sm-11" [ngSwitch]="type.value">
              <ng-template #tooltipExpense>Select the expense that you will need to have on your vehicle</ng-template>
              <select *ngSwitchCase="reminderTypes[0]" class="form-control" formControlName="expense" [ngbTooltip]="tooltipExpense">
                <option *ngFor="let type of typeOfExpenses" [value]="type">{{ type }}</option>
              </select>
              <ng-template #tooltipService>Select the service you will need to have on your vehicle</ng-template>
              <select *ngSwitchCase="reminderTypes[1]" class="form-control" formControlName="service" [ngbTooltip]="tooltipService">
                <option *ngFor="let type of typeOfServices" [value]="type">{{ type }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label"><i class="fa fa-bell"></i></label>
            <div class="col-sm-11">
              <ng-template #tooltipRepeat>Pick the number of times this action would be repeated</ng-template>
              <select class="form-control" formControlName="repeat" [ngbTooltip]="tooltipRepeat" required>
                <option *ngFor="let type of repeatTypes" [value]="type.value">{{ type.text }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1"></label>
            <label class="col-sm-5">
              <ng-template #tooltipTriggerType>Select the trigger that will notify you when this action needs to happen</ng-template>
              <select #triggerType class="form-control" [ngbTooltip]="tooltipTriggerType">
                <option [value]="typeOfRemember" *ngFor="let typeOfRemember of typeOfRemembers">Remember by {{ typeOfRemember }}</option>
              </select>
            </label>
            <div class="col-sm-6">
              <button [disabled]="form.controls['items'].length >= 2" type="button" class="btn btn-warning" (click)="addItem(triggerType.value)"><i class="fa fa-plus"></i></button>   
            </div>
          </div>
          <div [@fadeAnimation]="'in'" formArrayName="items" *ngFor="let item of form.controls['items'].controls; let i = index">
            <div class="form-group row" [formGroupName]="i" >
                <label class="col-sm-1"></label>
                <div class="col-sm-1 ">
                  <button type="button" class="btn btn-default" (click)="removeItem(i)"><i class="fa fa-trash"></i></button>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input class="form-control" formControlName="trigger"/> 
                  </div>
                </div>
                <div class="col-sm-6" [ngSwitch]="form.controls['items'].controls[i].controls.trigger.value">
                  <div class="input-group" *ngSwitchCase="typeOfRemembers[0]">
                    <input formControlName="mileage" type="text" class="form-control" placeholder="Odometere (km)">
                  </div>
                  <div class="input-group" *ngSwitchCase="typeOfRemembers[1]">
                    <input formControlName="date" type="date" class="form-control">
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">
              <i class="fa fa-align-left"></i>
            </label>
            <div class="col-sm-11">
              <textarea class="form-control" rows="5" placeholder="Note"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
              <div class="btn-group">
                <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
                <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>