<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Inputs</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <select name="" id="" class="form-control">
            <option value="car">Car</option>
            <option value="motocycle">Motocycle</option>
            <option value="bus">Bus</option>
            <option value="truck">Truck</option>
          </select>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Vehicle name" class="form-control">
        </div>
        <div class="input-group">
          <select name="" id="" class="form-control">
            <option value="" disabled selected>Manufacturer</option>
            <option value="audi">Audi</option>
            <option value="opel">Opel</option>
            <option value="bmw">BMW</option>
          </select>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Model" class="form-control">
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="License Plate" class="form-control">
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Year" class="form-control">
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Chasis number" class="form-control">
        </div>
        <div class="input-group">
          <input type="text" placeholder="Identification (VIN)" class="form-control">
        </div>
        <div class="input-group">
          <textarea name="" id="" rows="5" placeholder="Note" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>