<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Vehicle</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="send()">
          <div class="form-group">
            <select 
              required
              formControlName="type"
              class="form-control" 
              [ngClass]="type.invalid ? 'form-control-danger' : 'form-control-success'">
              <option [ngValue]="null" disabled>Type</option>
              <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
          </div>
          <div class="input-group">
            <input
              type="text" 
              formControlName="name" 
              placeholder="Vehicle name" 
              class="form-control">
          </div>
          <div class="input-group">
            <select 
              required
              formControlName="manufacturer" 
              class="form-control"
              [ngClass]="manufacturer.invalid ? 'form-control-danger' : 'form-control-success'">
              <option [ngValue]="null" disabled>Manufacturer</option>
              <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">{{manufacturer}}</option>
            </select>
          </div>
          <div class="input-group">
            <input 
              required
              type="text"
              formControlName="model"
              placeholder="Model"
              class="form-control"
              [ngClass]="model.invalid ? 'form-control-danger' : 'form-control-success'">
          </div>
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <input
                formControlName="plate" 
                type="text" 
                placeholder="License Plate"
                class="form-control">
            </div>
            <div class="col-sm-6 input-group">
              <input 
                formControlName="year"
                type="text"
                placeholder="Year" 
                class="form-control">
            </div>
          </div>
          <div class="input-group">
            <input 
              formControlName="chasis"  
              type="text"
              placeholder="Chasis number"
              class="form-control">
          </div>
          <div class="input-group">
            <input 
              formControlName="vin"
              type="text"
              placeholder="Identification (VIN)"
              class="form-control">
          </div>
          <div class="input-group">
            <textarea 
              formControlName="note"
              rows="5"
              placeholder="Note"
              class="form-control"></textarea>
          </div>
          <div class="btn-group">
              <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
              <button type="button" (click)="reset()" class="btn btn-danger">Reset</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>