<!-- <nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'"> -->
<nb-card>
    <nb-tabset fullWith>
      <nb-tab tabTitle="Vehicles">
        <div (click)="showVehicleDetails(i)" class="vehicle" *ngFor="let v of vehicles; let i = index">
          <ngx-item [name]="v.name" [title]="v.type" [editable]="true" (onSave)="save($event)"></ngx-item>
          <div>
            <i class="i-vehicle nb-trash" (click)="remove(v._id)"></i>
            <i class="i-vehicle nb-star" [ngClass]="{'active': v.status}" (click)="toggleVehicleSection(i)"></i>
          </div>
        </div>
      </nb-tab>
    </nb-tabset> 
</nb-card>