@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {
    nb-card-body {
        padding: 0%;
    }
    .item-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: nb-theme(color-fg);
        padding: 1rem;

        &:hover {
            background: lighten(nb-theme(card-bg), 5%);
        }

        &:not(:last-child) {
            border-bottom: 1px solid nb-theme(separator);

            @include nb-for-theme(corporate) {
                border-bottom-color: nb-theme(tabs-separator);
            }
        }
    }

    .item-block > i {
        cursor: pointer;
    }

    .item-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .item-front {
        position: relative;
        text-align: center;
        width: nb-theme(user-size-large);
        height: nb-theme(user-size-large);

        .top {
            font-family: Exo;
            color: nb-theme(card-header-fg-heading);
            font-weight: nb-theme(card-header-font-weight);
            font-size: nb-theme(card-padding);
        }
        .botton {
            text-transform: uppercase;
            color: nb-theme(card-header-fg-heading);
        }

        .tachometer {
            font-size: 0.775rem;
        }
    }
    
    .item-label {
        position: relative;
        text-align: center;
        width: nb-theme(user-size-large);

        .red {
            color: red;
        }
    }

    .item-title {
        font-family: Exo;
        color: nb-theme(card-header-fg-heading);
        font-weight: nb-theme(card-header-font-weight);
        font-size: nb-theme(card-padding);
    }

    .icons {
        font-size: 2rem;
        cursor: pointer;
      }
}
