<div class="row">
  <div class="col-xxl-5">
    
  </div>

  <div class="col-xxl-7">
    <nb-card size="medium">
      <nb-card-header>History</nb-card-header>
      <nb-card-body fullWith>
        <div class="history" *ngFor="let h of history; let i = index">
            <div class="item-container">
              <div class="item-picture background" *ngIf="!h.title" [ngClass]="{'reminder': h.timeleft}">
                  <ng-container>
                      <i class="fa" [ngClass]="h.icon"></i>
                  </ng-container>
              </div>
              <div class="title-section" *ngIf="h.title"></div>
              <div class="info-container">
                <div *ngIf="h.title" class="item-title">{{ h.title }}</div>
                <div *ngIf="h.name" class="item-name">{{ h.name }}</div>
                <div *ngIf="h.location" class="item-location">{{ h.location }}</div>
                <div *ngIf="h.odometer" class="item-odometer">{{ h.odometer }}</div>
              </div>
            </div>
            <div class="right">
              <div *ngIf="h.date" class="item-date">{{ h.date }}</div>
              <div *ngIf="h.price" class="item-price">{{ h.price }}</div>
              <div *ngIf="h.timeleft" class="item-timeleft">{{ h.timeleft }}</div>
            </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
