<nb-card size="large" [nbSpinner]="this.loading" nbSpinnerStatus="danger">
    <nb-card-header>List</nb-card-header>
    <nb-card-body fullWith>
        <div class="item-block" *ngFor="let r of reminders; let i = index">
            <div class="item-container">
                <div class="item-front">
                    <div class="top">
                        <div class="text" *ngIf="r.trigger.date">31</div>
                        <div class="icon" *ngIf="r.trigger.tachometer"><i class="fa fa-tachometer-alt"></i></div>
                    </div>
                    <div class="bottom">
                        <div class="text" *ngIf="r.trigger.date">OCT</div>
                        <div class="tachometer" *ngIf="r.trigger.tachometer">{{ r.trigger.tachometer }}</div>
                    </div>
                </div>
                <div class="item-label">
                    <i class="fa fa-bookmark" [ngClass]="{'red': r.type == 'expense'}"></i>
                </div>
                <div class="item-title">
                    {{r.name}}
                </div>
            </div>
            <i class="fa fa-edit" (click)="edit(i)"></i>
        </div>
    </nb-card-body>
</nb-card>