<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        <span>Core</span>
        <span class="version">ALPHA</span>
      </nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
      <nb-card-footer>
        <i class="fa fa-info"></i>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        <span>Auto</span>
        <span class="version">ALPHA</span>
      </nb-card-header>
      <nb-card-body></nb-card-body>
      <nb-card-footer>
          <i class="fa fa-info"></i>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
          <span>IoT</span>
          <span class="version">ALPHA</span>
      </nb-card-header>
      <nb-card-body></nb-card-body>
      <nb-card-footer>
          <i class="fa fa-info"></i>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-header></nb-card-header>
      <nb-card-body></nb-card-body>
      <nb-card-footer>
          <i class="fa fa-info"></i>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
