@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .version {
    color: nb-theme(layout-fg);
    font-size: 1rem;
    text-transform: uppercase;
  }
}
