<nb-card>
<nb-card-header>Reminder</nb-card-header>
<nb-card-body>
  <form [formGroup]="form" (ngSubmit)="send()">
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">
          <i [ngClass]="isTypeExpense ? 'fa-credit-card' : 'fa-oil-can'" class="fa"></i>
      </label>
      <div class="col-sm-11">
        <ng-template #tooltipType>Select the type of reminder that this should be about</ng-template>
        <select class="form-control" formControlName="type" [ngbTooltip]="tooltipType" required>
          <option [value]='reminderTypes.Expense'>{{ reminderTypes.Expense }}</option>
          <option [value]='reminderTypes.Service'>{{ reminderTypes.Service }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngIf="type?.value">
      <label class="col-sm-1 col-form-label">
        <i [ngClass]="isTypeExpense ? 'fa-money-bill' : 'fa-wrench'" class="fa"></i>
      </label>
      <div class="col-sm-11" [ngSwitch]="type.value">
        <ng-template #tooltipExpense>Select the expense that you will need to have on your vehicle</ng-template>
        <select *ngSwitchCase="reminderTypes.Expense" class="form-control" formControlName="expense" [ngbTooltip]="tooltipExpense">
          <option *ngFor="let type of typeOfExpenses" [value]="type.value">{{ type.value }}</option>
        </select>
        <ng-template #tooltipService>Select the service you will need to have on your vehicle</ng-template>
        <select *ngSwitchCase="reminderTypes.Service" class="form-control" formControlName="service" [ngbTooltip]="tooltipService">
          <option *ngFor="let type of typeOfServices" [value]="type.value">{{ type.value }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"><i class="fa fa-bell"></i></label>
      <div class="col-sm-11">
        <ng-template #tooltipRepeat>Pick the number of times this action would be repeated</ng-template>
        <div ngbRadioGroup class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
          <label ngbButtonLabel class="btn btn-outline-primary">
            <input ngbButton type="radio" value="one"> One time
          </label>
          <label ngbButtonLabel class="btn btn-outline-primary">
            <input ngbButton type="radio" value="multiple"> Multiple times
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1"></label>
      <label class="col-sm-11">
        <ng-template #tooltipTriggerType>Select the trigger that will notify you when this action needs to happen</ng-template>
        <div class="dropdown" ngbDropdown autoClose="true">
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Trigger
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" (click)="addItem(rememberTypes.Km)">Remember by Km</li>
            <li class="dropdown-item" (click)="addItem(rememberTypes.Date)">Remember by Date</li>
          </ul>
        </div>
      </label>
    </div>
    <div [@fadeAnimation]="'in'" formArrayName="items" *ngFor="let item of form.controls['items']['controls']; let i = index">
      <div class="form-group row" [formGroupName]="i" >
          <label class="col-sm-1"></label>
          <div class="col-sm-2">
            <button type="button" class="btn btn-default" (click)="removeItem(i)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input class="form-control" formControlName="trigger"/> 
            </div>
          </div>
          <div class="col-sm-6" [ngSwitch]="form.controls['items'].controls[i].controls.trigger.value">
            <div class="input-group" *ngSwitchCase="rememberTypes.Km">
              <input formControlName="mileage" type="text" class="form-control" placeholder="Odometere (km)">
            </div>
            <div class="input-group" *ngSwitchCase="rememberTypes.Date">
              <input formControlName="date" type="date" class="form-control">
            </div>
          </div>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">
        <i class="fa fa-align-left"></i>
      </label>
      <div class="col-sm-11">
        <textarea class="form-control" rows="5" placeholder="Note"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <div class="btn-group">
          <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
          <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </form>
</nb-card-body>
</nb-card>